---
import Layout from '../layouts/Layout.astro';
import MainHeader from '../components/layout/headers/MainHeader.astro';
import Footer from '../components/layout/Footer.astro';

import Card from '../components/ui/Card.astro';
---

<Layout pageTitle="Inicio">
	<MainHeader />
	<div id="main-content">
		<div class="w-3xl justify-self-center text-center mb-6 mt-12">
			<h1 class="justify-self-center text-5xl font-bold">La potencia de la informática a tu servicio</h1>
		</div>
		<p class="py-4 text-xl">Brindamos servicios de calidad que se ajusten a las necesidades de nuestros clientes:</p>
		<div class="flex py-2 gap-2 justify-between">
			<Card icon="phone-call" size=128>
				<tit2>Soporte</tit2>
				<p>Ayuda personalizada, hablando con <b>personas humanas</b> y <i>no con robots.</i></p>
			</Card>
			<Card icon="laptop-twotone" size=128>
				<tit2>Montaje</tit2>
				<p>Montamos ordenadores personales <b>al gusto de los clientes</b>, sin imponer.</p>
			</Card>
			<Card icon="folder-network" size=128>
				<tit2>Redes</tit2>
				<p>También montamos y gestionamos redes, <b>tanto en hardware como en software</b>, para garantizar <b>una buena conexión.</b></p>
			</Card>
		</div>
		<div class="flex justify-center mt-12">
		<a href="/quienes_somos/" class="btn bg-blue-500/75 rounded-full p-4 backdrop-blur shadow-md/50 text-4xl text-shadow-lg/30 font-bold">Contáctanos</a>
		</div>
	</div>
<!--<Footer />-->
</Layout>
