---
import Layout from '../layouts/Layout.astro';
import MainHeader from '../components/layout/headers/MainHeader.astro';
import Footer from '../components/layout/Footer.astro';

import Card from '../components/ui/Card.astro';
---

<Layout pageTitle="Quiénes somos">
    <MainHeader />
    <div id="main-content">
        <div class="*:w-full *:text-left *:items-start flex flex-col gap-3">
            <Card>
                <h1>Nuestra historia</h1>
                <p>Todo empezó en 2015 con un grupo de 2 personas, Yeray y Aritz, que querían crear una empresa para combatir en contra de las empresas anti-consumidor y ayudar a los clientes a sacar el máximo potencial de sus dispositivos.</p>
                <p>Pronto se unieron varios miembros más, como Piero, Julen, Aitor y Erik, y con su ayuda conseguimos expandir nuesto negocio y empezar a realizar varias mejoras, entre ellas, una gran campaña que nos ayudaría enormemente, tanto a nosotros como al planeta.</p>
                <p>Esta campaña se realizó con el propósito de remodelar nuestra forma de trabajar y reciclar componentes para ayudar al medioambiente y reducir los residuos y sacar aún más provecho de nuestros dispositivos. Mientras remodelabamos nuestros métodos de empleo, decidimos crear un software (denominado "el Mainframe") para apoyarnos en nuestra misión y automatizar muchas de nuestras tareas para hacer nuestro trabajo más eficiente.</p>
                <h1>¿Quienes somos?</h1>
                <p>Se nos conoce como Computerhead, una compañia especializada en la prestacion de servicios en el campo de la informatica y el sector IT. Desde nuestra fundacion en 2015 hemos experimentado un gran crecimiento a traves del desarrollo y ejecucion de importantes proyectos, tanto para clientes publicos como privados.</p>
                <p>Nuestra actividad se encuentra en pleno proceso de expansion hacia nuevos sectores y mercados tanto nacionales como internacionales. Esta diversificacion y expansion de servicios constituye el principal objetivo de Computerhead actualmente.</p>
                <h1>Señas de identidad</h1>
                <p>En Computerhead trabajamos con perseverancia y profesionalidad en base a los siguientes principios:</p>
                <p>-- Enfoque al cliente.</p>
                <p>-- Personal en continua formacion.</p>
                <p>-- Incorporacion de las ultimas tecnologias y medios tecnicos, como analisis de datos con IA y Cloud Computing. Usamos la IA para realizar rpedicciones en los mercados globales y tambien para analizar empleados. El Cloud Computing es usado para guardar nuestros datos y mantener nuestros servicion online, como esta pagina web, almacenada en un servidor global en GitHub, o el Mainframe, nuestro programa estrella (el cual es nuestra herramienta mas poderosa y versatil).</p>
                <p>-- Compromiso de trabajar cada vez mas y mejor.</p>
                <p></p>
                <p>Estas señas son las claves de nuestro exito. Tras el comienzo de nuestra andadura en el proceso de internacionalizacion, hemos visto como no solo hemos conseguido mantenernos entre las primeras Compañias del sector IT, si no que hemos comenzado un nuevo proceso de crecimiento y consolidacion basado principalmente en nuestra solida presencia en España, y pronto en mas paises de la Union Europea o America.</p>
                <p></p>
                <p>Una de nuestras principales bazas es nuestra alta especializacion en areas de gestion de datos y planificacion de redes de ordenadores: Programas y scripts para hacer funcionar a otras empresas o Infraestructuras.</p>
                <p></p>
                <h1>Lineas de trabajo</h1>
                <p>Nuestras referencias nos convierten en una empresa solida ante los nuevos retos, proyectos e iniciativas que se presentan. Prestamos servicios en una amplia gama de areas del sector IT (proyectos y supervisiones de instalacion) organizados en diversos campos:</p>
                <p></p>
                <p>-- Programacion de sistemas o software corporativo</p>
                <p>-- Instalacion de Redes empresariales</p>
                <p>-- Gestion de sistemas y bases de datos</p>
                <p>-- Ciberseguridad y proteccion de datos</p>
                <p>-- Mantenimiento de equipos</p>
                <p>-- Digitaliacion y el metodo de las tres R: Reducir, Reutilizar y Reciclar</p>
                <p></p>
                <h1>Instalaciones</h1>
                <p>Mas de 500 metros cuadrados de oficinas a su servicio en nuestra sede central de San Juan de Muskiz. Instalaciones dotadas de equipamiento necesario para asegurar la perfecta ejecucion de todos nuestros proyectos.</p>
                <h1>Presencia Internacional</h1>
                <p>Con la apertura de la nueva oficina en Madrid (España, 2022), apoyamos y reforzamos el compromiso con el proceso de expansion gradual de nuestra empresa, para que cada vez mas sitios puedan disfrutar de nuestros servicios.</p>
                <h1>NUESTRO COMPROMISO CON LA ECONOMIA CIRCULAR</h1>
                <p>Desde Computerhead, estamos comprometidos a integrarnos en la economia circula, para reducir las emisiones y aumentar la eficiencia de nuestro trabajo. Para esto, solo desechamos recursos y componentes de trabajo cuando son COMPLETAMENTE INUTILIZABLES E IRRECUPERABLES. Algunos ejemplos de nuestra implementacion de la economia cicular en nuestra empresa son:</p>
                <p>-- Usar piezas de cajas rotas para crear nuevas cajas de ordenadores.</p>
                <p>-- Usar cables de otros ordenadores inservibles para conectra ordenadores nuevos, si hay que realizar comprobaciones.</p>
                <p>-- Se reutilizan componentes viejos con el objetivo de realizar tarea s de depuracion, como recuperaciones de datos de equipos dañados en ordenadores viejos. Para esto, la velocidad de los componentes no es tan clave.</p>            
            </Card>
            <Card>
                <h1>Contacto</h1>
                <p>Ofrecemos las siguientes vías para contactarnos:</p>
                <div class="flex flex-col justify-between">
                    <ul>
                        <li>E-mail: contacto[@]computerhead[.]net</li>
                        <li>Teléfono: +34 888 690 787</li>
                        <li>Dirección: San Juan de Somorrostro, 48550 Muskiz, Vizcaya</li>
                    </ul>
		        </div>
            </Card>
        </div>
    </div>
</Layout>
